{% extends "plataforma/base.html" %}
{% block title %}agregar servicios{% endblock %}
{% block content %}
<h1>{{ titulo }}</h1>

<div class="ec-card" style="max-width:600px;margin:0 auto;">
  <form method="post">
    {% csrf_token %}
    {% for field in form %}
      <div class="ec-form-group">
        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
        {{ field }}
        {{ field.errors }}
      </div>
    {% endfor %}
    <button type="submit" class="ec-button-principal">Guardar</button>
  </form>
</div>
{% endblock %}
